.container-perfil{
    flex-flow: row wrap;
    margin-top: 0px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;

}

.container-coluna{
    flex: 50%;
    margin: 0;
}

.perfil{
    display: flex;
    color: white;
    height: 300px;
}

.texto-perfil{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.perfil img{
    margin-top: 5%;
    border-radius: 50%;
    align-items: center;
}

.perfil h1{
    font-size: 70px;
    color: #fff760;
    margin: 0;
}

.perfil h2{
    font-size: 40px;
    margin: 0;
}

.perfil h3{
    font-size: 30px;
    padding-top: 8px;
    margin: 0;
}

.container-formacao{
    color: white;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.container-formacao h3{
    font-size: 30px;
}

.container-animacao{
    flex: 40%;
    width: 500px;
    margin-left: auto;
    flex-shrink: 0;
}