<div class="container-perfil">
	<div class="container-coluna">
		<div class="perfil">
			<img src="assets/images/foto.jpg" alt="Minha Imagem">
			<div class="texto-perfil">
				<h1>Olá!</h1>
				<h2>Prazer, Guilherme!</h2>
				<h3>Um desenvolvedor frontend!</h3>
			</div>
		</div>
		<div class="container-formacao">
			<h3>🎓 Formação Acadêmica:</h3>
			<span>2018 - 2023</span>
			<span>Bacharelado em Ciência da Computação - UTFPR</span>
		</div>
	</div>
	<div class="container-animacao">
		<app-animated-svg></app-animated-svg>
	</div>
</div>
