.container-perfil{
    flex-flow: row wrap;
    margin-top: 0px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
}

.container-coluna{
    display: flex;
    flex: 40%;
    margin: 0;
    flex-direction: column;
}

.perfil{
    display: flex;
    color: white;
    /* height: 300px; */
    align-items: center;
}

.texto-perfil{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.perfil img{
    margin-top: 5%;
    border-radius: 50%;
    align-items: center;
    max-height: 250px;
}

.perfil h1{
    font-size: 70px;
    color: #fff760;
    margin: 0;
}

.perfil h2{
    font-size: 40px;
    margin: 0;
}

.perfil h3{
    font-size: 30px;
    padding-top: 8px;
    margin: 0;
}

.container-animacao{
    flex: 50%;
    width: 500px;
    margin-left: auto;
    flex-shrink: 0;
}

.container-formacao{
    margin-top: 50px;
    color: white;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
}

.container-formacao h3{
    font-size: 30px;
}

.ano{
    font-size: 20px;
    color: darkgray;
    margin: 0;
}

.curso{
    font-size: 18px;
}
.curso a{
    font-size: 18px;
    color: dodgerblue;
}

.curso a:hover{
    font-size: 18px;
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}