.navbar{
    height: 100px;
    display: flex;
    background-color: #121212;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: #222222 solid 1px;
}

.container-logo{
    margin-left: 5%;
    display: flex;
    flex: 40%;
}

.container-logo a.titulo{
    display: flex;
    align-items: center;
    text-align: center;
}

.titulo{
    width: auto;
    height: auto;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    font-size: 35px;
    font-family: 'Source Code Pro', monospace bold;
    font-weight: 800;
}

.nome{
    margin-left: 20px;
}

.icons{
    flex: 50%;
    text-align: right;
    margin-right: 5%;

}

.mat-icon.mat-icon-inline{
    width: 45px;
    height: auto;
}

.icon{
    padding: 5px;
    margin: 5px;
    background-color: #121212;
    fill: whitesmoke;
    color: black;
    width: 40px;
    height: 40px;
}

.icon:hover{
    color: #76C2AF;
    fill: #76C2AF;
}
