<div class="navbar">
  <div class="container-logo">
    <a class="titulo" href="https://dev-guilhermerio.vercel.app/">
      <mat-icon inline="true" svgIcon="dev"></mat-icon>
      <span class="nome"> Guilherme Rio </span></a
    >
  </div>
  <div class="icons">
    <a target="_blank" href="https://www.linkedin.com/in/guilherme-bernardo-del-rio/">
      <mat-icon class="icon" inline="true" svgIcon="linkedin"></mat-icon>
    </a>
    <a target="_blank" href="https://github.com/delriog">
      <mat-icon class="icon" inline="true" svgIcon="github"></mat-icon>
    </a>

    <a target="_blank" href="https://wa.me/5519983226397">
      <mat-icon class="icon" inline="true" svgIcon="whatsapp"></mat-icon>
    </a>

    <a target="_blank" href="mailto:dev.guilhermerio@gmail.com?subject=your">
      <mat-icon class="email icon" inline="true" svgIcon="email"></mat-icon>
    </a>
  </div>
</div>
